<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body class="d-flex flex-column">
        <header>
            {% include "model-header.html" %}
        </header>
        <main class="content" style="margin-top: 5%;">
            <div class="container">
                <!--Esse bloco vai receber da pagina da index.html o que
                    foi extendido dentro do bloco 'block content'-->
                {% block content %}{% endblock content %}
            </div>
        </main>

        <footer class="py-4 bg-dark text-white-50">
            {% include "model-footer.html" %}
        </footer>
    </body>

    <style>
        html, body {
            height: 100%;
        }
        /*cria o distanciamento do nav e o footer*/
        main{
            flex: 1 0 auto;
        }
        /*mantem o footer fixo na parte inferior do site
        mas continua decendo conforme aumenta o conteúdo
        do site*/
        footer {
            flex-shrink: none;
            margin-top: 2em;
        }
    </style>
</html>